In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Your path to data set below
fn = '/content/drive/MyDrive/DataSets/vacancies_2020.csv.gz'
df = pd.read_csv(fn, compression='gzip')
df.head()

         id  ...                                        terms_found
0  30711158  ...  jmeter спринт тестировщик continuous_integrati...
1  30711538  ...  современный_офис memcache team phpunit php арх...
2  30713109  ...                     яндекс windows_7 гибкий_график
3  30714567  ...  медицинская_страховка официальное_трудоустройс...
4  30716168  ...  bash team c# perl английский_язык тестирование...

[5 rows x 56 columns]

In [ ]:
df.shape

(587637, 56)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587637 entries, 0 to 587636
Data columns (total 56 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         587637 non-null  int64
 1   description                587637 non-null  object
 2   key_skills                 431738 non-null  object
 3   schedule_id                587637 non-null  object
 4   schedule_name              587637 non-null  object
 5   accept_handicapped         587637 non-null  bool
 6   accept_kids                587637 non-null  bool
 7   experience_id              587637 non-null  object
 8   experience_name            587637 non-null  object
 9   specializations            587637 non-null  object
 10  contacts                   12130 non-null   object
 11  billing_type_id            587637 non-null  object
 12  billing_type_name          587637 non-null  object
 13  allow_messages             587637 non-null  bool
 14  premium                    587637 non-null  bool
 15  driver_license_types       1749 non-null    object
 16  accept_incomplete_resumes  587637 non-null  bool
 17  employer_id                586477 non-null  float64
 18  employer_name              587637 non-null  object
 19  employer_vacancies_url     586477 non-null  object
 20  employer_trusted           586477 non-null  object
 21  employer_alternate_url     586477 non-null  object
 22  employer_industries        473202 non-null  object
 23  response_letter_required   587637 non-null  bool
 24  type_id                    587637 non-null  object
 25  type_name                  587637 non-null  object
 26  has_test                   587637 non-null  bool
 27  response_url               757 non-null     object
 28  test_required              2948 non-null    object
 29  salary_from                258741 non-null  float64
 30  salary_to                  164509 non-null  float64
 31  salary_gross               284072 non-null  object
 32  salary_currency            285014 non-null  object
 33  archived                   587637 non-null  bool
 34  name                       587637 non-null  object
 35  insider_interview          6570 non-null    object
 36  area_id                    587637 non-null  int64
 37  area_name                  587637 non-null  object
 38  area_url                   587637 non-null  object
 39  created_at                 587637 non-null  object
 40  published_at               587637 non-null  object
 41  address_city               276688 non-null  object
 42  address_street             271467 non-null  object
 43  address_building           262952 non-null  object
 44  address_description        0 non-null       float64
 45  address_lat                278728 non-null  float64
 46  address_lng                278728 non-null  float64
 47  alternate_url              587637 non-null  object
 48  apply_alternate_url        587637 non-null  object
 49  code                       6673 non-null    object
 50  department_id              39413 non-null   object
 51  department_name            39413 non-null   object
 52  employment_id              587637 non-null  object
 53  employment_name            587637 non-null  object
 54  prof_classes_found         576794 non-null  object
 55  terms_found                583826 non-null  object
dtypes: bool(8), float64(6), int64(2), object(40)
memory usage: 219.7+ MB

---
# Rename and drop columns
---

In [ ]:
df = df.rename(columns={'schedule_id': 'schedule', 
                        'experience_id': 'experience',
                        'billing_type_id':'billing_type',
                        'type_id': 'type',
                        'department_id': 'department',
                        'employment_id': 'employment',
                        'published_at': 'date'})

In [ ]:
df = df.drop(columns=['billing_type_name', 'schedule_name', 'experience_name', 
                      'type_name', 'address_street', 'address_building', 
                      'address_description', 'address_lat', 'address_lng', 
                      'address_lng', 'contacts', 'driver_license_types', 
                      'response_url', 'insider_interview', 'code', 'department', 
                      'department_name', 'employment_name', 'area_url',
                      'created_at', 'employer_alternate_url', 
                      'apply_alternate_url', 'type', 'billing_type', 
                      'address_city', 'description', 'specializations', 
                      'employer_name', 'employer_vacancies_url', 'alternate_url',
                      'premium', 'employer_id'])

In [ ]:
df.shape

(587637, 25)

---
# Data filtering
---

In [ ]:
df = df[df.archived == 1]

In [ ]:
df = df[(df.salary_from.isna() == False) & (df.salary_to.isna() == False) & (df.key_skills.isna() == False)]

In [ ]:
df.prof_classes_found.value_counts().head()

programmer    23834
prodajnik      8757
support        5886
sysadmin       4885
specialist     3921
Name: prof_classes_found, dtype: int64

In [ ]:
df = df[df.prof_classes_found != 'prodajnik']
df = df[df.prof_classes_found != 'montajnik']
df = df[df.prof_classes_found != 'teacher']
df = df[df.prof_classes_found != 'just_work']
df = df[df.prof_classes_found != 'montajnik electric']
df = df[df.prof_classes_found != 'rukovoditel_zam']
df = df[df.prof_classes_found != 'prodajnik electric']
df = df[df.prof_classes_found != 'electric']
df = df[(df.prof_classes_found != 'prodajnik technic')]
df = df[df.employment != 'volunteer']

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df.shape

(75384, 25)

In [ ]:
df = df.drop(columns='archived')

In [ ]:
df.head()

         id  ...                                        terms_found
0  33721414  ...                      дружный_коллектив опыт_работы
1  33723735  ...  комфортный_офис power_point менеджер_по_продаж...
2  36620015  ...  высшее_образование windows_7 windows_2003 тест...
3  36620022  ...  высшее_образование site разработчик google_ana...
4  36620106  ...  разработчик react медицинская_страховка опыт_р...

[5 rows x 24 columns]

---
# Change a Categorical data
---

In [ ]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [ ]:
onehot_encoder = OneHotEncoder(sparse=False)

In [ ]:
# Change a boolean value
df["accept_handicapped"]        = df["accept_handicapped"].replace([False, True], [0, 1])
df["accept_kids"]               = df["accept_kids"].replace([False, True], [0, 1])
df["allow_messages"]            = df["allow_messages"].replace([False, True], [0, 1])
df["accept_incomplete_resumes"] = df["accept_incomplete_resumes"].replace([False, True], [0, 1])
df["response_letter_required"]  = df["response_letter_required"].replace([False, True], [0, 1])
df["has_test"]                  = df["has_test"].replace([False, True], [0, 1])

In [ ]:
# Change a object value
df["employer_trusted"] = df["employer_trusted"].replace([False, True], [0, 1])
df["test_required"]    = df["test_required"].replace([False, True], [0, 1])
df["salary_gross"]     = df["salary_gross"].replace([False, True], [0, 1])

In [ ]:
df.head(1)

         id  ...                    terms_found
0  33721414  ...  дружный_коллектив опыт_работы

[1 rows x 24 columns]

---
### OneHotEncoder for the "schedule" column
---

In [ ]:
df.schedule.value_counts()

fullDay        53464
remote         13539
flexible        4924
shift           2258
flyInFlyOut     1199
Name: schedule, dtype: int64

In [ ]:
df.id[df.schedule.isna() == True].count()

0

In [ ]:
schd = pd.DataFrame(onehot_encoder.fit_transform(df[['schedule']]))
schd = schd.rename(columns={0: 'schedule_flexible', 1: 'schedule_flyInFlyOut', 
                            2: 'schedule_fullDay', 3: 'schedule_remote', 
                            4: 'schedule_shift'})

In [ ]:
schd.shape

(75384, 5)

In [ ]:
df['schedule_flexible']    = schd.schedule_flexible
df['schedule_flyInFlyOut'] = schd.schedule_flyInFlyOut
df['schedule_fullDay']     = schd.schedule_fullDay
df['schedule_remote']   = schd.schedule_remote
df['schedule_shift']   = schd.schedule_shift

In [ ]:
df.head(1)

         id  ... schedule_shift
0  33721414  ...            0.0

[1 rows x 29 columns]

In [ ]:
df = df.drop(columns='schedule')

In [ ]:
df.shape

(75384, 28)

---
### OneHotEncoder for the "employment" column
---

In [ ]:
df.id[df.employment.isna() == True].count()

0

In [ ]:
empl = pd.DataFrame(onehot_encoder.fit_transform(df[['employment']]))
empl = empl.rename(columns={0 : 'employment_full', 1: 'employment_part', 
                            2: 'employment_probation', 3: 'employment_project'})
empl.shape

(75384, 4)

In [ ]:
df['employment_full']      = empl.employment_full
df['employment_part']      = empl.employment_part
df['employment_probation'] = empl.employment_probation
df['employment_project']   = empl.employment_project

In [ ]:
df = df.drop(columns='employment')

In [ ]:
df.head(1)

         id  ... employment_project
0  33721414  ...                0.0

[1 rows x 31 columns]

---
### OneHotEncoder for the "area_name" column 
---

In [ ]:
df.area_name.value_counts().head(26)

Москва             20075
Санкт-Петербург     8202
Новосибирск         2597
Екатеринбург        2172
Минск               1927
Казань              1823
Алматы              1675
Краснодар           1662
Нижний Новгород     1598
Ростов-на-Дону      1373
Киев                1079
Воронеж             1069
Самара              1010
Пермь                990
Челябинск            975
Красноярск           952
Нур-Султан           912
Уфа                  831
Томск                774
Тюмень               687
Омск                 670
Владивосток          622
Тула                 609
Волгоград            584
Саратов              584
Ташкент              511
Name: area_name, dtype: int64

In [ ]:
df.shape

(75384, 31)

In [ ]:
df.id[df.area_name.isna() == True].count()

0

In [ ]:
df_moskow = df[df.area_name == 'Москва']
df_spb = df[df.area_name == 'Санкт-Петербург']
df_novosib = df[df.area_name == 'Новосибирск']
df_ekb = df[df.area_name == 'Екатеринбург']
df_minsk = df[df.area_name == 'Минск']
df_kazan = df[df.area_name == 'Казань']
df_almaty = df[df.area_name == 'Алматы']
df_krasnodar = df[df.area_name == 'Краснодар']
df_nnovgorod = df[df.area_name == 'Нижний Новгород']
df_rostov = df[df.area_name == 'Ростов-на-Дону']
df_kiev = df[df.area_name == 'Киев']
df_voronezh = df[df.area_name == 'Воронеж']
df_samara = df[df.area_name == 'Самара']
df_perm = df[df.area_name == 'Пермь']
df_chelyabinsk = df[df.area_name == 'Челябинск']
df_krasnoyarsk = df[df.area_name == 'Красноярск']
df_nur_sultan = df[df.area_name == 'Нур-Султан']
df_ufa = df[df.area_name == 'Уфа']
df_tomsk = df[df.area_name == 'Томск']
df_tyumen = df[df.area_name == 'Тюмень']
df_omsk = df[df.area_name == 'Омск']
df_vladivostok = df[df.area_name == 'Владивосток']
df_tula = df[df.area_name == 'Тула']
df_volgograd = df[df.area_name == 'Волгоград']
df_saratov = df[df.area_name == 'Саратов']
df_tashkent = df[df.area_name == 'Ташкент']

In [ ]:
df_city = df_moskow.append(df_spb).append(df_novosib).append(df_ekb).append(df_minsk) \
.append(df_kazan).append(df_almaty).append(df_krasnodar).append(df_nnovgorod) \
.append(df_rostov).append(df_kiev).append(df_voronezh) \
.append(df_samara).append(df_perm).append(df_chelyabinsk).append(df_krasnoyarsk) \
.append(df_nur_sultan).append(df_ufa).append(df_tomsk).append(df_tyumen) \
.append(df_omsk).append(df_vladivostok).append(df_tula).append(df_volgograd) \
.append(df_saratov).append(df_tashkent)

In [ ]:
df_city.shape

(55963, 31)

In [ ]:
df_city = df_city.reset_index(drop=True)
df = df_city

In [ ]:
city = pd.DataFrame(onehot_encoder.fit_transform(df_city[['area_name']]))
city = city.rename(columns={0: 'almaty', 1: 'vladivostok', 2: 'volgograd',  3: 'voronezh', 4: 'ekaterinburg', 5: 'kazan', \
                            6: 'kiev', 7: 'krasnodar', 8: 'krasnoyarsk', 9: 'minsk', 10: 'moskow', \
                            11: 'nizhny_novgorod', 12: 'novosibirsk', 13: 'nur_sultan', 15: 'perm', 14: 'omsk', 16: 'rostov_on_don', \
                            17: 'samara', 18: 'st_petersburg', 19: 'saratov', 20: 'tashkent', 21: 'tomsk', 22: 'tula', 23: 'tyumen', 24: 'ufa',  25: 'chelyabinsk'})

In [ ]:
city.columns

Index(['almaty', 'vladivostok', 'volgograd', 'voronezh', 'ekaterinburg',
       'kazan', 'kiev', 'krasnodar', 'krasnoyarsk', 'minsk', 'moskow',
       'nizhny_novgorod', 'novosibirsk', 'nur_sultan', 'omsk', 'perm',
       'rostov_on_don', 'samara', 'st_petersburg', 'saratov', 'tashkent',
       'tomsk', 'tula', 'tyumen', 'ufa', 'chelyabinsk'],
      dtype='object')

In [ ]:
df['almaty']          = city.almaty
df['vladivostok']     = city.vladivostok
df['volgograd']       = city.volgograd
df['voronezh']        = city.voronezh
df['ekaterinburg']    = city.ekaterinburg
df['kazan']           = city.kazan
df['kiev']            = city.kiev
df['krasnodar']       = city.krasnodar
df['krasnoyarsk']     = city.krasnoyarsk
df['minsk']           = city.minsk
df['moskow']          = city.moskow
df['nizhny_novgorod'] = city.nizhny_novgorod
df['novosibirsk']     = city.novosibirsk
df['nur-sultan']      = city.nur_sultan
df['omsk']            = city.omsk
df['perm']            = city.perm
df['rostov_on_don']   = city.rostov_on_don
df['samara']          = city.samara
df['st_petersburg']   = city.st_petersburg
df['saratov']         = city.saratov
df['tashkent']        = city.tashkent
df['tomsk']           = city.tomsk
df['tula']            = city.tula
df['tyumen']          = city.tyumen
df['ufa']             = city.ufa
df['chelyabinsk']     = city.chelyabinsk

In [ ]:
df = df.drop(columns='area_name')

In [ ]:
df.shape

(55963, 56)

In [ ]:
df.head()

         id  ... chelyabinsk
0  36620106  ...         0.0
1  36620535  ...         0.0
2  36620748  ...         0.0
3  36620797  ...         0.0
4  36620865  ...         0.0

[5 rows x 56 columns]

---
### OrdinalEncoder for the "experience" column
---

In [ ]:
df.experience.value_counts()

between1And3    29294
between3And6    14974
noExperience    10230
moreThan6        1465
Name: experience, dtype: int64

In [ ]:
df.id[df.experience.isna() == True].count()

0

In [ ]:
ordinal_encoder = OrdinalEncoder(categories=[['noExperience', 'between1And3',
                                             'between3And6', 'moreThan6']])

In [ ]:
expr = pd.DataFrame(ordinal_encoder.fit_transform(df[['experience']]))

In [ ]:
expr = expr.rename(columns={0: 'experience'})

In [ ]:
df.experience.head()

0    between3And6
1    between1And3
2    between3And6
3    between1And3
4    between1And3
Name: experience, dtype: object

In [ ]:
expr.head()

   experience
0         2.0
1         1.0
2         2.0
3         1.0
4         1.0

In [ ]:
df['experience'] = expr

In [ ]:
df.head(1)

         id                      key_skills  ...  ufa  chelyabinsk
0  36620106  JavaScript\nReact\nReactNative  ...  0.0          0.0

[1 rows x 56 columns]

---
# Convert a currency
---

## Format a column "published_at" to format 'YYYY-MM-DD' in code below

In [ ]:
df["date"] = pd.to_datetime(df["date"])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55963 entries, 0 to 55962
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         55963 non-null  int64
 1   key_skills                 55963 non-null  object
 2   accept_handicapped         55963 non-null  int64
 3   accept_kids                55963 non-null  int64
 4   experience                 55963 non-null  float64
 5   allow_messages             55963 non-null  int64
 6   accept_incomplete_resumes  55963 non-null  int64
 7   employer_trusted           55842 non-null  float64
 8   employer_industries        39639 non-null  object
 9   response_letter_required   55963 non-null  int64
 10  has_test                   55963 non-null  int64
 11  test_required              0 non-null      float64
 12  salary_from                55963 non-null  float64
 13  salary_to                  55963 non-null  float64
 14  salary_gross               55940 non-null  float64
 15  salary_currency            55963 non-null  object
 16  name                       55963 non-null  object
 17  area_id                    55963 non-null  int64
 18  date                       55963 non-null  datetime64[ns, pytz.FixedOffset(180)]
 19  prof_classes_found         54921 non-null  object
 20  terms_found                55671 non-null  object
 21  schedule_flexible          55963 non-null  float64
 22  schedule_flyInFlyOut       55963 non-null  float64
 23  schedule_fullDay           55963 non-null  float64
 24  schedule_remote            55963 non-null  float64
 25  schedule_shift             55963 non-null  float64
 26  employment_full            55963 non-null  float64
 27  employment_part            55963 non-null  float64
 28  employment_probation       55963 non-null  float64
 29  employment_project         55963 non-null  float64
 30  almaty                     55963 non-null  float64
 31  vladivostok                55963 non-null  float64
 32  volgograd                  55963 non-null  float64
 33  voronezh                   55963 non-null  float64
 34  ekaterinburg               55963 non-null  float64
 35  kazan                      55963 non-null  float64
 36  kiev                       55963 non-null  float64
 37  krasnodar                  55963 non-null  float64
 38  krasnoyarsk                55963 non-null  float64
 39  minsk                      55963 non-null  float64
 40  moskow                     55963 non-null  float64
 41  nizhny_novgorod            55963 non-null  float64
 42  novosibirsk                55963 non-null  float64
 43  nur-sultan                 55963 non-null  float64
 44  omsk                       55963 non-null  float64
 45  perm                       55963 non-null  float64
 46  rostov_on_don              55963 non-null  float64
 47  samara                     55963 non-null  float64
 48  st_petersburg              55963 non-null  float64
 49  saratov                    55963 non-null  float64
 50  tashkent                   55963 non-null  float64
 51  tomsk                      55963 non-null  float64
 52  tula                       55963 non-null  float64
 53  tyumen                     55963 non-null  float64
 54  ufa                        55963 non-null  float64
 55  chelyabinsk                55963 non-null  float64
dtypes: datetime64[ns, pytz.FixedOffset(180)](1), float64(41), int64(8), object(6)
memory usage: 23.9+ MB

In [ ]:
df["date"] = df["date"].dt.strftime("%Y-%m-%d")

In [ ]:
df.head(1)

         id                      key_skills  ...  ufa  chelyabinsk
0  36620106  JavaScript\nReact\nReactNative  ...  0.0          0.0

[1 rows x 56 columns]

## Work with currency

In [ ]:
df.salary_currency.value_counts()

RUR    48357
USD     2713
KZT     2473
BYR     1129
UAH      485
EUR      433
UZS      371
KGS        2
Name: salary_currency, dtype: int64

In [ ]:
kzt = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/KZT_RUB.csv')
usd = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/USD_RUB.csv')
byr = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/BYN_RUB.csv')
uah = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/UAH_RUB.csv')
eur = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/EUR_RUB.csv')
uzs = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/UZS_RUB.csv')
kgs = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/KGS_RUB.csv')
azn = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/AZN_RUB.csv')
gel = pd.read_csv('/content/drive/MyDrive/DataSets/Currencies/GEL_RUB.csv')

In [ ]:
def remove_column_currency(df):
  df = df.rename(columns={'Change %': 'Change_%', 'Date': 'date', 'Price': 'price'})
  df = df.drop(columns=['Open', 'High', 'Low', 'Change_%'])
  return df

In [ ]:
def convert_datetime(df):
  df.date = pd.to_datetime(df.date).dt.strftime('%Y-%m-%d')
  return df

In [ ]:
kzt = remove_column_currency(kzt)
usd = remove_column_currency(usd)
byr = remove_column_currency(byr)
uah = remove_column_currency(uah)
eur = remove_column_currency(eur)
uzs = remove_column_currency(uzs)
kgs = remove_column_currency(kgs)
azn = remove_column_currency(azn)
gel = remove_column_currency(gel)

In [ ]:
kzt = convert_datetime(kzt)
usd = convert_datetime(usd)
byr = convert_datetime(byr)
uah = convert_datetime(uah)
eur = convert_datetime(eur)
uzs = convert_datetime(uzs)
kgs = convert_datetime(kgs)
azn = convert_datetime(azn)
gel = convert_datetime(gel)

In [ ]:
kzt.head(3)

         date   price
0  2021-01-01  0.1757
1  2020-12-31  0.1766
2  2020-12-30  0.1765

In [ ]:
df_kzt = df[df.salary_currency == 'KZT'].merge(kzt, how='left', on='date')
df_usd = df[df.salary_currency == 'USD'].merge(usd, how='left', on='date')
df_byr = df[df.salary_currency == 'BYR'].merge(byr, how='left', on='date')
df_uah = df[df.salary_currency == 'UAH'].merge(uah, how='left', on='date')
df_eur = df[df.salary_currency == 'EUR'].merge(eur, how='left', on='date')
df_uzs = df[df.salary_currency == 'UZS'].merge(uzs, how='left', on='date')
df_kgs = df[df.salary_currency == 'KGS'].merge(kgs, how='left', on='date')
df_azn = df[df.salary_currency == 'AZN'].merge(azn, how='left', on='date')
df_gel = df[df.salary_currency == 'GEL'].merge(gel, how='left', on='date')

df_rouble = df[df.salary_currency == 'RUR']
df_rouble['price'] = [1 for i in range(len(df_rouble))]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
display(df_kzt.id[df_kzt.salary_currency.isna() == True].count())
display(df_usd.id[df_usd.salary_currency.isna() == True].count())
display(df_byr.id[df_byr.salary_currency.isna() == True].count())
display(df_uah.id[df_uah.salary_currency.isna() == True].count())
display(df_eur.id[df_eur.salary_currency.isna() == True].count())
display(df_uzs.id[df_uzs.salary_currency.isna() == True].count())
display(df_kgs.id[df_kgs.salary_currency.isna() == True].count())
display(df_azn.id[df_azn.salary_currency.isna() == True].count())
display(df_gel.id[df_gel.salary_currency.isna() == True].count())

0

0

0

0

0

0

0

0

0

In [ ]:
df1 = df_kzt.append(df_usd).append(df_byr).append(df_uah).append(df_eur).append(df_uzs).append(df_kgs).append(df_azn).append(df_gel).append(df_rouble)

In [ ]:
df1['salary_from'] = df1['salary_from'] * df1['price']
df1['salary_to'] = df1['salary_to'] * df1['price']

In [ ]:
df = df1.drop(columns=['price', 'salary_currency'])

In [ ]:
df.head(1)

         id  ... chelyabinsk
0  36625264  ...         0.0

[1 rows x 55 columns]

In [ ]:
df.shape

(55963, 55)